<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<!-- <% include templates/header.ejs %> -->
<!-- <%- include('templates/search', {searchType: 'metaTraderLog'}); %> -->

<h3><%= title %></h3>
<p>1. 数据：取1986年2月5日至2018年2月5日， 32年美元指数和道指。</p>
<p>2. 两者在这三十多年间的相关系数为-0.15，呈反向关系。</p>
<p>3. 特殊阶段: 相关系数大于0.5，即正向机会较多的月份为每年：8，10，11月。</p>
<p>4. 若按季度统计，相关系数大于0.5，出现正向关系可能性最大的是每年的第四季度</p>
<p>5. 各年相关系数：</p>
<pre>
	1986 : -0.577445
	1987 :  0.541321
	1988 :  0.423357
	1989 :  0.399120
	1990 :  0.588408
	1991 :  0.518297
	1992 : -0.086579
	1993 :  0.392570
	1994 : -0.006746
	1995 : -0.281928
	1996 :  0.460161
	1997 :  0.715767
	1998 :  0.098777
	1999 :  0.785640
	2000 : -0.221385
	2001 :  0.070269
	2002 :  0.848460
	2003 : -0.786459
	2004 : -0.496539
	2005 :  0.116273
	2006 : -0.419940
	2007 : -0.607317
	2008 : -0.886391
	2009 : -0.924464
	2010 : -0.557747
	2011 : -0.312738
	2012 : -0.469213
	2013 :  0.051723
	2014 :  0.759876
	2015 :  0.144373
	2016 :  0.288744
	2017 : -0.784770
	2018 : -0.798207
</pre>

<p>6. 把数据标在坐标上，左边y轴道指，右边y轴美元</p>
<iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~bensong/3.embed"></iframe>
</body>
</html>
